button {
    display: flex;
    color: #6ea6e6;
    gap: 5px;
    font-size: 14px;
    border: 1px solid #6ea6e6;
    padding: 10px 20px;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
        background-color: #6ea6e6;
        color: #fff;
        font-weight: 500;
        transition: 0.3s;
    }

    svg {
        width: 16px;
        height: 16px;
        transform: translateY(2px);
    }
}