

.leave_list {
    .leave_list_container {
        margin-top: 30px;
        .table {
            .table_info {
                .custom_table {
                    margin-top: 26px;
                    width: 100%;
                    table-layout: fixed;
                    border-collapse: collapse;

                    thead {
                        width: 100%;

                        tr {
                            width: 100%;
                            border-bottom: 5px solid #bbd8f9;

                            span {
                                color: #7c7373;
                                font-size: 12px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .order_tb {
                                width: 5%;
                            }

                            .depart_tb {
                                width: 14%;
                            }

                            .name_tb {
                                width: 14%;
                            }

                            .from_tb {
                                width: 12%;
                            }

                            .to_tb {
                                width: 12%;
                            }

                            .status_tb {
                                width: 10%;
                            }

                            .note_tb {
                                width: 16%;
                            }

                            .file_tb {
                                width: 9%;
                            }

                            .action_tb {
                                width: 8%;
                            }
                        }
                    }

                    tbody {
                        width: 100%;

                        tr {
                            &:hover {
                                background-color: #ebebeb;
                            }

                            td {
                                width: 100%;
                                padding: 20px;
                                border-bottom: 0.0625rem solid #f0f2f5;
    
                                span {
                                    color: #7c7373;
                                    font-size: 14px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
    
                                    a {
                                        svg {
                                            width: 18px;
                                            height: 18px;
                                        }
                                    }
    
                                    svg {
                                        width: 18px;
                                        height: 18px;
                                    }
                                }
    
                                .custom_btn {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
    
                                    .approve {
                                        svg {
                                            width: 16px;
                                            height: 16px;
                                            cursor: pointer;
                                            color: #2B85EC;
                                        }
                                    }
    
                                    .denial {
                                        svg {
                                            width: 16px;
                                            height: 16px;
                                            cursor: pointer;
                                            color: #ec652b;
                                        }
                                    }                                
                                }
                            }
                        }
                    }
                }
            }
        }

        .paginnate {
            display: flex;
            justify-content: flex-end;
        }
    }
}