.request_staff {
    margin-top: 50px;
    overflow-x: auto;

    .request_staff_wrapper {
        min-width: 100%;

        .select_department {
            .select_option {
                select {
                    padding: 5px 10px;
                    border-radius: 5px;
                }
            }
        }
        
        .subtitle {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-weight: 500;
                color: #344767;
            }
        }

        .table {
            overflow-x: auto;

            .table_info {
                .custom_table {
                    margin-top: 10px;
                    min-width: 100%;
                    width: 100%;
                    table-layout: fixed;
                    border-collapse: collapse;

                    thead {
                        width: 100%;
                        tr {
                            width: 100%;
                            height: 40px;
                            background-color: #6ea6e6;

                            span {
                                color: #fff;
                                font-size: 12px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .id_tb {
                                width: 5%;
                            }

                            .depart_tb {
                                width: 15%;
                            }

                            .name_tb {
                                width: 15%;
                            }

                            .regular_tb {
                                width: 10%;
                            }

                            .salary_regular_tb {
                                width: 10%;
                            }

                            .overtime_tb {
                                width: 10%;
                            }
                            
                            .salary_overtime_tb {
                                width: 10%;
                            }

                            .bonus_tb {
                                width: 10%;
                            }

                            .total_hour_tb {
                                width: 10%;
                            }

                            .total_salary_tb {
                                width: 10%;
                            }
                        }
                    }

                    tbody {
                        width: 100%;

                        tr {
                            &:hover {
                                background-color: #ebebeb;
                            }

                            td {
                                width: 100%;
                                padding: 20px;
                                border-bottom: 0.0625rem solid #f0f2f5;
    
                                span {
                                    color: #7c7373;
                                    font-size: 14px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
    
                                    a {
                                        svg {
                                            width: 18px;
                                            height: 18px;
                                        }
                                    }
    
                                    svg {
                                        width: 18px;
                                        height: 18px;
                                    }
                                }
    
                                .custom_btn {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    gap: 10px;
                                    cursor: pointer;

                                    .edit {
                                        span {
                                            &:hover {
                                                color: #2B85EC;
                                            }
                                        }
                                        svg {
                                            transform: translateY(2px);
                                            width: 16px;
                                            height: 16px;
                                            color: #2B85EC;
                                        }
                                    }                               
                                }
                            }
                        }
                    }

                    tfoot {
                        width: 100%;
                        tr {
                            background-color: #000000;
                            td {
                                width: 100%;
                                padding: 10px;
                                border-bottom: 0.0625rem solid #f0f2f5;
    
                                span {
                                    color: #fff;
                                    font-size: 14px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .paginnate {
        display: flex;
        justify-content: flex-end;
    }
}